.container-form{
   margin-top: 10vh;
   padding: 20px;

   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   box-shadow: 0px 0px 20px 4px rgba(34, 60, 80, 0.2);

   label{
      font-size: 22px;
   }

   input, textarea{
      height: 25px;
      width: 80%;

      margin-top: 5px;
      margin-bottom: 10px;
      padding: 2px 25px;
      border: 1px solid #000000;
      border-radius: 10px;
   }

   input[type="date"]{
      position: relative;
   }

   input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      color: transparent;
      background: transparent
    }

   textarea{
      height: 55px;
      padding: 12px 25px;
   }

   .form-error{
      max-width: 300px;
      margin: 1px 0;
      margin-top: -5px;
      color: #db2a2a;
      font-size: 14px;
   }

   .send-btn{
      width: 100%;

      padding: 5px;
      margin-top: 10px;

      border: none;
      font-size: 18px;
      background-color: #9bc0f8;
      transition: 1s;

      &:hover{
         cursor: pointer;
         background-color: #44546b;
         color: #ffffff;
      }
   }
}